body{
    background-color: rgb(225, 255, 255);
}

li, ol{
    display: inline;
}
h1, h2,h5,h3,h4,H6{
    text-align: center;
}

img{
    width: 220px;
    padding: 10px;
    margin: 10px;
}
div{
    text-align: center;
}

table {
    width: 50%;

  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
